# Docs and Temp files
/docs
/mail
/database
/infr*

INSTRUCTIONS.md

# Admin
/admin


#Android

/android
/packages

ZAQEN.md
INSTRUCTIONS.md
/home/mrwellslife/Downloads/Brainyte_Fortress_Complete_Architecture.odt
Brainyte_Fortress_Complete_Architecture.odt
